@use postcss-preset-env {
  stage: 0;
}

:root {
  --color-background: #000119;
  --stroke-width: calc(1em / 16);
  --font-size: 72px;
  --font-weight: 700;
  --letter-spacing: calc(1em / 8);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  display: grid;
  font-family: Poppins, sans-serif;
  margin: 0;
  min-block-size: 100vh;
  place-items: center;
  padding: 5vmin;
}

#about h1, #projects h1, #contact h1, #skills h1{
  background-clip: text;
  background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
  color: var(--color-background);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  padding: calc(--stroke-width / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);
}

#about p, #contact p, #footer p {
  color: yellow;
}

#plinks {
  display: flex;
  justify-content: center;
  gap: 40px; /* Adjust the gap between icons */
}

#plinks a {
  display: inline-flex; /* Ensures icons stay in a row */
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  color: blue;
}

#plinks a .link-text {
  display: none;
  color: blue;
  font-size: 18px;
  margin-top: 5px;
}

#plinks a:hover .link-text {
  display: block;
}

#plinks a:hover {
  color: yellow; 
}